<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Router Fallback" stopProcessing="true">
          <!-- Redirigir todas las rutas a index.html -->
          <match url="^(?!.*\.(js|css|json|png|jpg|jpeg|gif|bmp|svg|ico|woff|woff2|ttf|eot|otf|map)$).*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
