<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración para habilitar las solicitudes amigables -->
    <rewrite>
      <rules>
        <!-- Redirigir todas las rutas a index.html para React Router -->
        <rule name="ReactRouter" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
