@import url('https://fonts.googleapis.com/css2?family=Acme&family=Londrina+Solid:wght@100;300;400;900&display=swap');


.navbar-header {
    background-color: #212529;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header {
    background-color: #212529;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-header {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header img {
    height: 50px;
}

.nav-links-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    flex: 1;
    justify-content: center;
}

.nav-links-hadmin {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    flex: 1;
    justify-content: center;
}



.nav-links-header a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    padding: 8px 12px;
    border-radius: 10px;
    font-family: "Acme", serif;
  }
.nav-links-header a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links-header a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #1cb1c1;
    transition: width 0.3s ease;
}

.nav-links-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #1cb1c1;
    transition: width 0.3s ease;
}

.nav-links-header a:hover::after {
    width: 100%;
}

.nav-links-header a:hover::after {
    width: 100%;
}

.btn-login-header {
    background-color: #1cb1c1;
    color: #111111;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    transition:  0.3s ease;
}

.btn-login-header {
    background-color: #1cb1c1;
    color: #111111;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    transition:  0.3s ease;
}

.btn-login-header:hover {
    background-color: #03e7e7;
}
